@{
    Layout = "_Layout";
    ViewData["Title"] = "Processing Payment";
}

<div class="text-center mt-5">
    <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
        <span class="visually-hidden">Loading...</span>
    </div>
    <h2 class="mt-4">Processing your payment...</h2>
    <p>Please do not refresh the page.</p>
</div>



@section Scripts {
    <script>
        const seatId = '@ViewBag.Id';
        const progId = '@ViewBag.ProgrammeId';

        console.log("Przekierowanie dla Seat:", seatId, "Programme:", progId);

        setTimeout(function () {
            window.location.href = '/Seats/confirmationScreen/' + seatId + '?programmeId=' + progId;
        }, 1000);
    </script>
}
